:root {
    --active-color: #1899d6;
    --active-border: #84d8ff;
    --active-background: #ddf4ff;

    --success-color: #58a700;
    --success-border: #a5ed6e;
    --success-background: #d7ffb8;

    --error-color: #fff;
    --error-border: #ea2b2b;
    --error-background: #ff4b4b;

    --disabled-color: #e5e5e5;
    --disabled-border: #e5e5e5;
    --disabled-background: #fff;
}
